<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    hello panel

    <script src="/static/index.js"></script>

    <button type="button" onclick="sumbitLogout()">logout</button>

    <script>
        function sumbitLogout() {
            fetch('/logout', {
                method: 'GET',
                redirect: 'follow'
            })
                .then(response => response.json())
                .then(data => {
                    //console.log('Success:', data);
                    // Дополнительная обработка успешного ответа
                    window.location.href = '/login';
                })
                .catch((error) => {
                    console.error('Error:', error);
                    // Дополнительная обработка ошибок
                });
        }
    </script>
</body>
</html>