<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration Form</title>
</head>
<body>
<h1>Registration Form</h1>
<form id="registrationForm">
    <label for="login">Login:</label>
    <input type="text" id="login" name="login" required>
    <br>
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required>
    <br>
    <label for="repassword">Repeat Password:</label>
    <input type="password" id="repassword" name="repassword" required>
    <br>
    <label for="access_key">Access Key:</label>
    <input type="text" id="access_key" name="access_key" required>
    <br>
    <button type="button" onclick="submitRegistrationForm()">Register</button>
</form>

<script>
    async function submitRegistrationForm() {
        var login = document.getElementById("login").value;
        var password = document.getElementById("password").value;
        var repassword = document.getElementById("repassword").value;
        var accessKey = document.getElementById("access_key").value;

        // Проверка повторного ввода пароля
        if (password !== repassword) {
            alert("Passwords do not match");
            return;
        }

        var data = {
            login: login,
            password: password,
            repassword:repassword,
            access_key: accessKey
        };

        try {
            const response = await fetch('/auth/sign-up', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(data)
            });

            if (response.ok) {
                window.location.href = '/login';
            } else {
                console.error('Registration failed:', response.statusText);

            }
        } catch (error) {
            console.error('Error during registration:', error);
            // Обработка ошибок, например, вывод сообщения об ошибке
            alert("Error during registration. Please try again.");
        }
    }
</script>
</body>
</html>
